* {
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

small,
input,
textarea,
select,
button {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  font: inherit;
  text-align: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
p,
a {
  margin: 0;
  font: inherit;
}

/* mixins.scss */
/* Bg images aspect ratio */
/* @include aspect-ratio(4,3); */
:root {
  --white: #FFFFFF;
  --black: #000000;
  --grey-100: #EAEAEA;
  --grey-200: #D7D7D7;
  --grey-300: #898989;
  --grey-400: #606060;
  --grey-500: #414141;
  --grey-600: #272727;
  --white-a20: rgba(255, 255, 255, .2);
  --black-a20: rgba(0, 0, 0, .2);
  --black-a12: rgba(0, 0, 0, .12);
  --orange: #FF5C21;
  --font-regular: 'FK Regular', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-medium: 'FK Medium', -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --radius-small: 2px;
  --radius-medium: 4px;
  --elevation-small: 0 1px 2px var(--black-a12);
  --z-snackbars: 7;
  --z-modals: 6;
  --z-panels: 5;
  --z-loading: 4;
  --z-dropzone: 3;
}

@font-face {
  font-family: "FK Regular";
  src: url("../assets/fonts/FKGroteskTrial-Regular.otf") format("opentype"), url("../assets/fonts/FKGroteskTrial-Regular.ttf") format("ttf"), url("../assets/fonts/FKGroteskTrial-Regular.woff") format("woff");
  font-weight: normal;
}
@font-face {
  font-family: "FK Medium";
  src: url("../assets/fonts/FKGroteskTrial-Medium.otf") format("opentype"), url("../assets/fonts/FKGroteskTrial-Medium.ttf") format("ttf"), url("../assets/fonts/FKGroteskTrial-Medium.woff") format("woff");
  font-weight: normal;
}
body {
  font-family: var(--font-regular);
  color: var(--grey-500);
}

select.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

select.button,
button.button {
  cursor: pointer;
}

.button.disabled,
.button_icon.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.5;
}
.button.super-disabled,
.button_icon.super-disabled {
  display: none;
}
.button.primary,
.button_icon.primary {
  background: var(--black);
  color: var(--white);
}
.button.primary .icon,
.button_icon.primary .icon {
  fill: currentColor;
}
.button.secondary,
.button_icon.secondary {
  background: var(--white);
  color: var(--black);
}
.button.secondary .icon,
.button_icon.secondary .icon {
  fill: currentColor;
}
.button.tertiary,
.button_icon.tertiary {
  background: var(--grey-100);
  color: var(--grey-400);
}
.button.tertiary .icon,
.button_icon.tertiary .icon {
  fill: currentColor;
}
.button.ghost,
.button_icon.ghost {
  color: var(--grey-300);
}
.button.ghost .icon,
.button_icon.ghost .icon {
  fill: currentColor;
}
.button.error,
.button_icon.error {
  position: relative;
  border: solid 0.125rem var(--orange);
}
.button.error .icon_wrap,
.button_icon.error .icon_wrap {
  position: absolute;
  inset: -0.5rem -0.5rem auto auto;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: var(--white);
}
.button.error .icon_wrap .icon,
.button_icon.error .icon_wrap .icon {
  fill: var(--orange);
}
.button.floating,
.button_icon.floating {
  box-shadow: var(--elevation-small);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-medium);
  white-space: nowrap;
}
.button.small {
  padding: 0.5rem 0.75rem;
  border-radius: 1.25rem;
  line-height: 1.25rem;
  font-size: 0.75rem;
  gap: 0.25rem;
}
.button.medium {
  padding: 1rem 1.25rem;
  border-radius: 1.5rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  gap: 0.25rem;
}
.button.medium .icon {
  width: 1rem;
  height: 1rem;
}
.button.large {
  padding: 1rem 1.25rem;
  border-radius: 1.5rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  gap: 0.5rem;
}
.button.large .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.button.expand {
  width: 100%;
}

.button_icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button_icon.small {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
.button_icon.small .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.button_icon.medium {
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
}
.button_icon.medium .icon {
  width: 1.25rem;
  height: 1.25rem;
}
.button_icon.large {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.button_icon.large .icon {
  width: 1.25rem;
  height: 1.25rem;
}

.form-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.form-item {
  padding: 1rem 1.5rem;
}

.form_block-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.form_block-head .title {
  color: var(--black);
  font-family: var(--font-medium);
}
.form_block-head .detail {
  font-size: 0.875rem;
}
.form_block-head .threshold {
  transition: transform 0.2s ease;
}
.form_block-head .threshold:hover {
  transform: rotate(-90deg);
}
.form_block-foot {
  display: flex;
  gap: 0.5rem;
  padding: 1rem 0;
}
.form_block-foot .button {
  flex: auto;
}

.inputs-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem 0.5rem;
}
.inputs-item {
  flex: 1;
}
.inputs-item.expand {
  flex: 0 0 100%;
}
.inputs-label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.inputs-label .icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--grey-300);
}
.inputs-label .input_text {
  width: 100%;
}
.inputs-feedback {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border: solid 0.0625rem var(--grey-100);
  color: var(--grey-300);
  font-size: 0.75rem;
  line-height: 1rem;
  text-align: center;
}
.inputs-feedback .label {
  flex: auto;
}

.export_form-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.export_form-item {
  margin-top: 1rem;
}
.export_form-item .label {
  display: block;
  margin-bottom: 0.75rem;
  color: var(--black);
  font-family: var(--font-medium);
  font-size: 1rem;
}

.panel {
  position: absolute;
  width: 75%;
  z-index: var(--z-panels);
  min-width: 17.75rem;
  max-width: 24rem;
  background: var(--white);
  border: solid 0.0625rem var(--grey-300);
  border-radius: var(--radius-medium);
  box-shadow: var(--elevation-small);
}
.panel:not(.active) {
  display: none;
}
.panel-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem;
  cursor: grab;
}
.panel-head .drag {
  pointer-events: none;
}
.panel-head .title {
  flex: auto;
  padding: 0.125rem;
  font-size: 0.75rem;
  color: var(--grey-300);
}
.panel-head .close {
  cursor: pointer;
}
.panel-head .close svg {
  pointer-events: none;
}
.panel-body {
  padding: 0.75rem;
  box-sizing: border-box;
}
.panel-body.drop {
  position: relative;
  background: var(--grey-100);
}
.panel-body.drop:after {
  content: "";
  position: absolute;
  inset: 0.25rem;
  border: dotted 0.125rem var(--grey-300);
  pointer-events: none;
}
.panel-block {
  padding-bottom: 1.5rem;
}
.panel-block + .panel-block {
  padding-bottom: 0;
}
.panel-block > .title {
  padding: 0.25rem;
  font-family: var(--font-medium);
  font-size: 0.75rem;
  color: var(--grey-300);
  pointer-events: none;
}
.panel-color .button_color {
  display: none;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem;
  padding: 0.375rem;
  border-radius: var(--radius-small);
}
.panel-color .button_color:hover {
  background: var(--grey-100);
}
.panel-color .button_color:not(.active) .input .icon {
  display: none;
}
.panel-color .button_color {
  --bg-color: transparent;
  background-color: var(--bg-color);
}
.panel-color .button_color .input {
  position: relative;
}
.panel-color .button_color input[type=color] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  border: solid 0.0625rem var(--grey-500);
  border-radius: var(--radius-small);
}
.panel-color .button_color .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: var(--white);
}
.panel-color .button_color .label {
  flex: auto;
}
.panel-color .button_color .title {
  display: block;
  font-family: var(--font-medium);
  font-size: 0.75rem;
}
.panel-color .button_color .value {
  display: block;
  font-size: 0.75rem;
}
.panel-color.active .button {
  display: none;
}
.panel-color.active .button_color {
  display: flex;
}

.pattern_preset {
  padding: 0;
  border: 0;
}
.pattern_preset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.pattern_preset-label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.pattern_preset-label input[type=radio]:checked + .label {
  background: var(--grey-100);
}
.pattern_preset-label .label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: var(--radius-small);
}
.pattern_preset-label .tile {
  display: block;
  aspect-ratio: 1;
  width: 2.75rem;
  background: var(--white);
  border: solid 0.0625rem var(--grey-500);
  border-radius: var(--radius-small);
  overflow: hidden;
}
.pattern_preset-label .tile .pattern {
  aspect-ratio: 1;
  width: 2.75rem;
  height: 2.75rem;
  fill: var(--grey-500);
  pointer-events: none;
}

.color_preset {
  padding: 0;
  border: 0;
}
.color_preset-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.color_preset-item {
  flex: 0 0 50%;
}
.color_preset-label {
  --selected-alpha: .15;
  --selected-r: 0;
  --selected-g: 0;
  --selected-b: 0;
  --selected-color: rgba(var(--selected-r), var(--selected-g), var(--selected-b), var(--selected-alpha));
}
.color_preset-label input[type=radio] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.color_preset-label input[type=radio]:checked + .label {
  background: var(--selected-color);
  border-radius: var(--radius-small);
  border: solid 1px var(--grey-500);
}
.color_preset-label input[type=radio]:checked + .label .icon {
  display: block;
}
.color_preset-label .label {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border: solid 1px transparent;
  border-radius: var(--radius-small);
}
.color_preset-label .tile {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  width: 2.5rem;
  border: solid 0.0625rem var(--grey-500);
  border-radius: var(--radius-small);
}
.color_preset-label .tile .icon {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--white);
}
.color_preset-label .head {
  display: block;
  padding: 0.25rem 0.125rem;
  color: var(--grey-500);
}
.color_preset-label .title {
  display: block;
  font-size: 0.75rem;
  font-family: var(--font-medium);
}
.color_preset-label .value {
  display: block;
  font-size: 0.75rem;
}

.input_text.select select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  line-height: initial !important;
  background-image: linear-gradient(45deg, transparent 50%, var(--grey-300) 50%), linear-gradient(135deg, var(--grey-300) 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 5px), calc(100% - 15px) calc(1em + 5px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
  border: solid 0.0625rem var(--grey-300);
}
.input_text.primary input,
.input_text.primary select {
  background: var(--white);
  border: solid 0.0625rem var(--grey-300);
}
.input_text.primary input:focus,
.input_text.primary select:focus {
  border-color: var(--grey-400);
}
.input_text.secondary {
  color: var(--grey-400);
}
.input_text.secondary input,
.input_text.secondary select {
  background: var(--grey-200);
  border: solid 0.0625rem var(--grey-200);
}
.input_text.secondary input:focus,
.input_text.secondary select:focus {
  border-color: var(--grey-300);
}
.input_text.medium input,
.input_text.medium select {
  width: 100%;
  height: 2.5rem;
  border-radius: var(--radius-small);
  line-height: 2.5rem;
  padding: 0.75rem 1rem;
  font-family: var(--font-medium);
  font-size: 0.75rem;
}

.input_file {
  border: solid 0.0625rem transparent;
  border-radius: var(--radius-medium);
  transition: all 0.3s ease;
  cursor: pointer;
}
.input_file input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input_file label {
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem 0;
  align-items: center;
  transition: all 0.3s ease;
}
.input_file .label {
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input_file:hover {
  border-color: var(--grey-100);
}
.input_file:hover label {
  padding: 0.5rem 0.25rem;
}
.input_file-warning {
  margin-top: 0.5rem;
  font-family: var(--font-medium);
  font-size: 0.75rem;
  color: var(--grey-300);
  pointer-events: none;
}

.card_connect {
  display: flex;
}
.card_connect .string {
  flex: 1;
  display: flex;
  justify-content: center;
}
.card_connect .string::before {
  content: "";
  display: block;
  width: 0.0625rem;
  height: 1.5rem;
  background: var(--grey-200);
}

.card_container {
  display: flex;
  flex-direction: row;
  gap: 1px;
  padding: 1px;
  background: var(--grey-300);
}

.pattern_composer {
  flex: 1;
  background: var(--white);
  transition: transform 100ms ease-out;
}
.pattern_composer.hidden {
  visibility: hidden;
}
.pattern_composer.dragger {
  position: absolute;
  box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.pattern_composer-head {
  height: 1.5rem;
  padding: 0.125rem;
  cursor: grab;
}
.pattern_composer-head .icon {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--grey-300);
}
.pattern_composer-head .drag {
  pointer-events: none;
}
.pattern_composer-body {
  padding: 0.25rem;
}
.pattern_composer-body .tile {
  position: relative;
  aspect-ratio: 1;
  background: var(--white);
  border-radius: 0.125rem;
  border: solid 0.0625rem var(--grey-500);
}
.pattern_composer-body .tile canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.pattern_composer-foot {
  padding: 0.125rem 0.25rem;
}
.pattern_composer-foot .name {
  text-align: center;
  font-size: 0.875rem;
}
.pattern_composer:hover {
  box-shadow: 0 0 0 0.0625rem var(--black);
  z-index: 2;
}

label#threshold button {
  cursor: pointer;
}

.input_threshold {
  position: relative;
  padding: 0.125rem;
}
.input_threshold::before {
  content: "";
  display: block;
  height: 2rem;
  background: var(--black);
  background: linear-gradient(90deg, var(--black) 0%, var(--white) 100%);
  border: solid 0.0625rem var(--grey-300);
  border-radius: 0.25rem;
  opacity: 0.9;
}
.input_threshold .knot {
  position: absolute;
  top: -0.25rem;
  width: 1rem;
  bottom: -0.25rem;
  border: solid 0.125rem var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.0625rem var(--grey-500);
  cursor: grab;
}
.input_threshold .knot.grabbing {
  cursor: grabbing;
}

.input_tiles {
  padding: 0.75rem;
  border: solid 0.0625rem var(--grey-300);
}
.input_tiles .track {
  position: relative;
  height: 2rem;
  background: var(--grey-100);
  border-radius: var(--radius-small);
}
.input_tiles .track:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-image: linear-gradient(90deg, var(--grey-300), var(--grey-300) 15%, transparent 15%, transparent 100%);
  background-size: 0.5rem 0.0625rem;
}
.input_tiles .knot {
  position: absolute;
  top: -0.25rem;
  width: 1rem;
  bottom: -0.25rem;
  background: var(--white);
  border: solid 0.125rem var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.0625rem var(--grey-500);
  cursor: grab;
}
.input_tiles .knot.grabbing {
  cursor: grabbing;
}
.input_tiles .legend {
  display: flex;
  padding-top: 0.5rem;
  justify-content: space-between;
  font-size: 0.75rem;
}

.dropzone {
  position: absolute;
  inset: 0;
  display: flex;
  pointer-events: none;
  align-items: center;
  justify-content: center;
  z-index: var(--z-dropzone);
  background: var(--white-a20);
  backdrop-filter: blur(0.625rem);
  opacity: 0;
  transition: opacity 200ms ease-out;
}
.dropzone.active {
  opacity: 1;
}
.dropzone.block {
  pointer-events: all;
}
.dropzone::before {
  content: "";
  position: absolute;
  inset: 1.5rem;
  background: var(--black-a20);
}
.dropzone .label {
  font-size: 1.5rem;
  color: var(--white);
  z-index: 1;
  pointer-events: none;
}

.video_controls {
  display: flex;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  flex-wrap: nowrap;
  gap: 1rem;
}
.video_controls .button_icon {
  cursor: pointer;
}
.video_controls .button_icon .icon:nth-child(2) {
  display: none;
}
.video_controls .button_icon.playing .icon:nth-child(2) {
  display: block;
}
.video_controls .button_icon.playing .icon:nth-child(1) {
  display: none;
}
.video_controls .actions {
  flex: 0 0 64px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.video_controls .time {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 4px 0;
  font-family: var(--font-medium);
  font-size: 0.75rem;
  font-variant-numeric: tabular-nums;
  color: var(--grey-300);
}
.video_controls .time .current {
  color: var(--grey-400);
}
.video_controls .timeline {
  flex: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.video_controls .progress {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
.video_controls .progress-bar {
  position: relative;
  width: 100%;
  height: 0.125rem;
  background: var(--grey-200);
  transition: all 0.3s ease;
}
.video_controls .progress-bar .current {
  position: absolute;
  inset: 0 auto 0 0;
  background: var(--grey-300);
}
.video_controls .progress-knot {
  position: absolute;
  inset: 0 0 0 auto;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  transform: translateY(-50%);
  color: var(--grey-300);
  background: currentColor;
  border: solid 0.0625rem currentColor;
  cursor: grab;
  transition: all 0.3s ease;
}
.video_controls .progress-knot.grabbing {
  cursor: grabbing;
}
.video_controls .progress:hover .progress-bar {
  height: 0.25rem;
}
.video_controls .progress:hover .progress-knot {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  color: var(--grey-400);
  background: var(--white);
}
.video_controls .trim {
  position: relative;
  background: var(--grey-200);
  height: 2rem;
  margin: 0.25rem 0;
}
.video_controls .trim-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, var(--grey-200) 25%, var(--grey-300) 25%, var(--grey-300) 50%, var(--grey-200) 50%, var(--grey-200) 75%, var(--grey-300) 75%, var(--grey-300) 100%);
  background-size: 1rem 1rem;
}
.video_controls .trim-knot {
  position: absolute;
  top: -0.25rem;
  width: 1rem;
  bottom: -0.25rem;
  background: var(--white);
  border: solid 0.125rem var(--white);
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.0625rem var(--grey-500);
  cursor: grab;
}
.video_controls .trim-knot.grabbing {
  cursor: grabbing;
}

.snackbar {
  position: absolute;
  inset: 1.5rem 1.5rem auto 1.5rem;
  z-index: var(--z-snackbars);
  display: flex;
  gap: 0.75rem;
  max-width: 25rem;
  padding: 1rem 1.5rem 1rem 1rem;
  background: var(--grey-600);
  border-radius: var(--radius-medium);
}
.snackbar .icon_wrap {
  flex: none;
  display: flex;
  width: 2rem;
  height: 2rem;
  justify-content: center;
  align-items: center;
}
.snackbar .icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--orange);
}
.snackbar .message {
  flex: auto;
  font-family: var(--font-medium);
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: var(--grey-200);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: var(--z-loading);
  background: var(--white-a20);
  backdrop-filter: blur(0.625rem);
  transition: opacity 1s ease-out;
}
.loading:not(.active) {
  opacity: 0;
  pointer-events: none;
}
.loading .spinner::before {
  content: "";
  position: absolute;
  inset: 50% auto auto 50%;
  width: 5rem;
  height: 5rem;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  border-radius: 50%;
  border: 0.625rem solid var(--grey-500);
  border-top-color: var(--black-a20);
  animation: spinner 0.6s linear infinite;
}

.toolbar {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
}
.toolbar.top {
  top: 0;
}
.toolbar.bottom {
  bottom: 0;
  backdrop-filter: blur(72px);
}
.toolbar-block {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 8px;
  padding: 1.5rem;
}
.toolbar-block#export {
  transition: transform 500ms ease-out;
}
.toolbar-block#export:not(.active) {
  transform: translateY(200px);
}
.toolbar-block.video:not(.active) {
  display: none;
}
.toolbar-block.video {
  border-top: solid 1px rgba(0, 0, 0, 0.1);
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  background: var(--white);
}

main {
  display: flex;
  height: 100%;
  min-width: 768px;
}

.control_panel {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 384px;
  height: 100%;
}

.layer {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: var(--white);
  overflow: auto;
  transition: transform 500ms ease-out;
}
.layer:not(.active) {
  transform: translateX(-100%);
  pointer-events: none;
}
.layer {
  /* &.hidden {
      display: none;
  } */
}

.menu {
  flex: auto;
  padding-top: 4rem;
}

.brand {
  padding: 1.5rem;
}

.canvas {
  flex: auto;
  position: relative;
  overflow: hidden;
  background: var(--grey-100);
}

.gl {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gl:not(.active) {
  display: none;
}
.gl .view {
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  transform: scale(0.5);
}
.gl .view.video {
  margin-top: -130px;
}
.gl .view div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));
}
.gl .view div:not(.active) {
  display: none;
}
.gl .view div canvas {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.modal {
  position: absolute;
  inset: 0;
  z-index: var(--z-modals);
}
.modal:not(.active) {
  display: none;
}
.modal-card {
  position: absolute;
  width: 75%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: var(--z-panels);
  min-width: 17.75rem;
  max-width: 24rem;
  background: var(--white);
  border: solid 0.0625rem var(--grey-300);
  border-radius: var(--radius-medium);
  box-shadow: var(--elevation-small);
  z-index: 2;
}
.modal-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.125rem;
  cursor: grab;
}
.modal-head .drag {
  pointer-events: none;
}
.modal-head .title {
  flex: auto;
  padding: 0.125rem;
  font-size: 0.75rem;
  color: var(--grey-300);
}
.modal-head .close {
  cursor: pointer;
}
.modal-head .close svg {
  pointer-events: none;
}
.modal-head + .modal-body {
  padding: 1rem 1.5rem;
}
.modal-body {
  padding: 1.5rem;
}
.modal-body:not(.active) {
  display: none;
}
.modal-body .alert {
  padding: 0.75rem 1rem;
  border: solid 0.0625rem var(--grey-100);
  border-radius: var(--radius-medium);
  font-size: 0.75rem;
  color: var(--grey-500);
  text-align: center;
}
.modal-body .export_form-list {
  margin-top: 1rem;
}
.modal-body .export_form-list .jsQuality:not(.active) {
  display: none;
}
.modal-body .fieldset {
  display: flex;
  gap: 0.5rem;
}
.modal-body .fieldset > * {
  flex: auto;
}
.modal-body .progress-label {
  display: flex;
  gap: 0.75rem;
  color: var(--grey-400);
}
.modal-body .progress-label .title {
  flex: auto;
  font-family: var(--font-medium);
}
.modal-body .progress-label .count {
  text-align: right;
}
.modal-body .progress-bar {
  position: relative;
  height: 0.25rem;
  margin-top: 1rem;
  background: var(--grey-100);
}
.modal-body .progress-bar .current {
  position: absolute;
  inset: 0 auto 0 0;
  width: 50%;
  background: var(--grey-300);
}
.modal-body .actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.modal-body .actions .button {
  flex: auto;
}
.modal-backdrop {
  position: absolute;
  inset: 0;
  z-index: 1;
  backdrop-filter: blur(0.625rem);
}